{{>_html_header}}
<div class="main-content">
    {{>header}}
    <p>This site uses data from mapbox.com and weatherstack.com</p>
    <img class="portrait" src="/img/robot.png" />
</div>
{{>footer}}
{{>_html_footer}}