{{>_html_header}}
<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>

    <form>
        <input type="text" placeholder="Location" />
        <button>Search</button>
    </form>

    <p id="error"></p>
    <p id="output"></p>

</div>
{{>footer}}
<script src="/js/app.js"></script>
{{>_html_footer}}